.IconContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    margin: 2rem;
}

.Icon
{
    font-size: 2rem;
    cursor: pointer;

    color: var(--light-text);
}

/* .FirstStop
{
    stop-color: var(--primary);
}

.SecondStop
{
    stop-color: var(--primary-dark);
}

.Icon > path
{
    fill: url(#icon-gradient);
}
 */
