
.UList
{
    color: var(--light-text);
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.LinkWrapper
{
    margin: 1.0rem 0;
}

.Link
{
    text-decoration: underline;
    color: var(--light-text)
}