.radio_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.radio_wrapper .radio_label {
  font-size: 1rem;
  line-height: 1.19rem;
  color: #4a4a4a;
  height: auto;
  width: 5.19rem;

  margin: 0 auto;
  margin-top: 0.25rem;
  text-align: center;
}

.radio_wrapper .radio_input {
  width: 1.56rem;
  height: 1.56rem;
  border-radius: 50%;
  border: 1px solid #848484;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.radio_wrapper .radio_input .dot {
  display: flex;
  margin: auto;
  width: 0;
  height: 0;
  background: linear-gradient(#2789df, #1b7ebe, #0072b3);
  border-radius: 50%;
  transition: width 0.1s ease-in, height 0.1s ease-in;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: width 0.1s ease-in, height 0.1s ease-in;
  -moz-transition: width 0.1s ease-in, height 0.1s ease-in;
  -ms-transition: width 0.1s ease-in, height 0.1s ease-in;
  -o-transition: width 0.1s ease-in, height 0.1s ease-in;
}

.radio_wrapper .radio_input .active_dot {
  width: 1.15rem;
  height: 1.15rem;
}
