/*
  Code Authored by Adil Kazmi from Upworks
*/

/* Focused border when we are zoomed into the border */
.button
{
  height: 5rem;
  width: 15rem;

  margin: 1.5rem 0;

  font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.25rem;

  background: var(--inactive);
  color: var(--light-text);

  border: none;
  border-radius: 0.3em;

  cursor: pointer;
}

.active
{
    background: linear-gradient( var(--primary-light), var(--primary), var(--primary-dark)) !important;
}
