
/*
  Code Authored by Adil Kazmi from Upworks
*/

.select_wrapper {

    width: 16.31rem;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.error_border 
{
  background: linear-gradient(var(--error-light), var(--error), var(--error-dark)) !important;
}

.input_wrapper {

    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--border);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 0.25rem;
    
    background: var(--background);
}

/* --- Search Controls --- */
.search_wrapper {

    width: 15.81rem;
    height: 3.29rem;

    display: flex;
    flex-direction: row;
    align-items: center;

    position: relative;
    
    margin: 0.2rem auto;

    background: var(--background) !important;
}

.text_input {
    height: 100%;
    width: calc(100% - 2.0rem);

    padding: 0 1rem;

    border: none;
    outline: none;

    color: var(--border);
    font-size: 1.13rem;
    line-height: 1.31rem;
}

.label {

    --speed: 0.01s;

    position: absolute;
    left: 1rem;
    top: 30%;

    color: var(--label-text);
    font-size: 1.13rem;
    line-height: 1.31rem;
    text-transform: capitalize;

    transition: ease-in var(--speed) font-size, ease-in var(--speed) top, ease-in var(--speed) line-height;
}

.active_label {
    top: 0.5rem;
    font-size: 0.75rem;
    line-height: 0.88rem;
}

.active_label + input {
    padding-top: 1rem;
    height: 100%;
}


/* --- Options --- */
.options_wrapper {
    width: 100%;
    height: auto;
    
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    
    background: var(--background) !important;
    
    transition: max-height 0.1s ease-in-out;
}

.options_wrapper_opened
{
    max-height: 9.44rem;
    border-top: solid 1px var(--border);
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
} 

.options_wrapper_closed
{
    max-height: 0rem;
}


.option_item {
    height: 2rem;
    width: 100%;
    padding: 0.5rem 1rem;

    cursor: pointer;
}

.option_item span {

    color: var(--border);
    
    font-size: 1rem;
    line-height: 1.0rem;

    text-transform: capitalize;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.option_item:hover {
    background: linear-gradient(var(--primary-light), var(--primary), var(--primary-dark));
}

/* All the font that has a deafult of white. */
.option_item:hover span {
    color: var(--background);
}

/* --- Selected Options (Multi Select) --- */

/* Wrap the select options with this wrapper. */
.selected_options_wrapper {

    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.select_options_wrapper_active {
    border: 1px dashed var(--border);
    border-bottom: none;
}

/* Error Message */
.error_msg
{
    font-size: 1rem;
    line-height: 2rem;
    color: var(--error);
}