.FooterContainer
{
    background-color: var(--primary-dark);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.Header
{
    color: var(--light-text);
    margin-top: 1em;
    text-align: center;
}

.NavigationWrapper
{
    width: 100%;
}

.Moto
{
    color: var(--light-text);
    text-align: center;
}

.Copyright
{
    color: var(--light-text);
    text-align: center;
}