
.NavigationContainer
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 1em;

    border-bottom: solid 1px var(--navigation);
    color: var(--navigation);
    height: 3rem;
}

.IconContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.NavigationIcon
{
    font-size: 1.25rem;

    cursor: pointer;
}
