

.Navigation
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 1em;

    border-bottom: solid 1px var(--navigation);
    color: var(--navigation);
    height: 3rem;
}
