.toggle_input_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.toggle_input_wrapper .label {
  font-size: 0.75rem;
  line-height: 0.88rem;
  color: #848484;
  text-transform: capitalize;
}
.toggle_input_wrapper .toggle_input {
  margin: 0 0.25rem;
  height: 1.75rem;
  width: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid #4a4a4a;
  border-radius: 0.88rem;
  -webkit-border-radius: 0.88rem;
  -moz-border-radius: 0.88rem;
  -ms-border-radius: 0.88rem;
  -o-border-radius: 0.88rem;
}

.toggle_input_wrapper .toggle_input .dot {
  left: 4%;
  position: absolute;
  background: linear-gradient(#2789df, #1b7ebe, #0072b3);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: left 0.3s ease-in;
  -webkit-transition: left 0.3s ease-in;
  -moz-transition: left 0.3s ease-in;
  -ms-transition: left 0.3s ease-in;
  -o-transition: left 0.3s ease-in;
}

.toggle_input_wrapper .toggle_input .activeDot {
  left: calc(100% - 1.6rem);
}
