@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1, h2, h3, h4, h5
{
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {

  --background: white;

  --primary: #218ed5;
  --primary-light: #64b4fa;
  --primary-dark: #0072b2;

  --error: #fa6464;
  --error-light: #d52121;
  --error-dark: #b20000;

  --light-text: #FFFFFF;
  --dark-text:  #000000;
  --header-text:#4A4A4A;
  --label-text: #848484;

  --navigation: #D1D1D1;
  --inactive:   #A7A7A7;
  --border: #4a4a4a;
}
